.header-box {
    width: 100%;
    height: 900px;
}

.welcome-info {
    width: 800px;
    height: 370px;
    float: left;
}

.header-img {
    height: 900px;
    width: 608px;
    background-color: tomato;
    float: right;
}

.movie-of-week-info {
    height: 422px;
    width: 100%;
    background-color: rgba(210, 80, 7, 0.6);
    margin-top: -421px;
}

.top-recommendations {
    width: 100%;
    height: 500px;
    padding-top: 58px;
}

.top-recommendations h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-left: 111px;
}
.top-movies {
    width: 1213px;
    height: 292px;
    margin: 0 auto;
}

.movie {
    width: 213px;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    float: left;
    margin-left: 37px;
}
.first_movie {
    margin-left: 0px;
}


