/* font-family: 'Raleway', sans-serif;
font-family: 'Syncopate', sans-serif; */
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F3;
    position: relative;
    width: 1440px;
    height: auto;
    margin-top: 0px;
}
.navigation-container {
    width: 100%;
    height: 109px;
}
.nav-logo {
    width: 145px;
    height: 109px;
    background-image: url("../img/logo.svg");
    background-position: center;
    background-size: cover;
    margin-left: 64px;
    float: left;
}
.nav-logo:hover{
    margin-top: -5px;
    transition: 0.3s;
}
.navigation-box, .search-box {
    width: 590px;
    height: 35px;
    margin-top: 74px;
    float: left;
}

.search-box {
    width: 608px;
    float: right;
}

.nav-buttons li {
    list-style-type: none;
    font-family: 'Syncopate', sans-serif;
    float: left;
    color: #232324;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 100px;
}
.nav-buttons li:hover{
    color: #729CEF;
}

.nav-buttons-mb li:hover{
    color: #729CEF;
}
.search-bar {
    width: 186px;
    height: 30px;
    border-radius: 10px;
    float: right;
    margin-right: 65px;
}
.search {
    border: none;
    width: 90%;
    height: 90%;
    padding: 1.7px 10px;
    border-radius: 38px;
    background-color: #F2F2F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #232322;
    outline: none;
}
.search::placeholder {
    color: #232322;
}

.footer {
    width: 100%;
    height: 63px;
}
.media {
    height: 100%;
    width: 364px;
    float: right;
}
.media-icon {
    float: left;
    cursor: pointer;
    margin-left: 57px;
    padding-top: 10px;
}
.twitter {
    margin-left: 0px;
}


/* START I-PAD CSS//////////////////////////////////////////////////////////////////////////////*/
.landing-page-ipad{
    width: 1024;
}
.nav-buttons-pd li:hover{
    color: #729CEF;
}
.navigation-container-pd {
    width: 100%;
    height: 126px;
}
.nav-logo-pd {
    width: 145px;
    height: 109px;
    background-image: url("../img/logo.svg");
    background-position: center;
    background-size: cover;
    margin-left: 71px;
    float: left;
}
.navigation-box-pd {
    width: 800px;
    height: 35px;
    margin-top: 74px;
    float: left;
}

.nav-buttons-pd li {
    list-style-type: none;
    font-family: 'Syncopate', sans-serif;
    float: left;
    color: #232324;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 100px;
}
.search-icon-pd{
    float: right;
    cursor: pointer;
}
#home-button-pd li{
    color: #729CEF;
}
/* END I-PAD CSS//////////////////////////////////////////////////////////////////////////////*/




/* start I-PHONE CSS//////////////////////////////////////////////////////////////////////////*/
.landing-page-iphone{
    width: 414px;
}
.nav-container-mb{
    width: 100%;
    height: 93px;
}
.nav-logo-mb{
    width: 145px;
    height: 109px;
    background-image: url("../img/logo.svg");
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

.nav-icon-box-mb{
    width: 90px;
    height: 45px;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}
.search-icon-mb{
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 3px;
}
.menu-icon-mb{
    cursor: pointer;
    width: 45px;
    height: 45px;
    float: right;
}
#home-button li{
    color: #729CEF;
}


.menu-box-mb{
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    top: 90px;
    width: 414px;
    height: calc(100vh - 70px);
    background-color: rgba(35, 35, 36, 0.6);
    backdrop-filter: blur(40px);
    text-align: center;
    transform: translateX(150%);
    transition: 0.6s;
}
.menu-view-mb{
    transform: translateX(0);
    transition: 0.6s;
}

.menu-box-mb ul{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: 'Syncopate', sans-serif;
}
.menu-box-mb a{
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.menu-box-mb a:hover{
    color: #729CEF;
    font-size: 32px;
    transition: 0.3s;
}


/* END I-PHONE CSS////////////////////////////////////////////////////////////////////////////*/